<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <div>
        <h1>temp<br></h1>
        <a href="http://www.google.com"><strong>{{text}}</strong></a>
    </div>
    <div>
        <form action="/login" method="post">
            <dl>
                <li>1</li>
                <li>2</li>
                name:
                <input name="name" type="text">
                pass:
                <input name="pa" type="password">
                <input type="submit" value="GO!"
            </dl>
        </form>
    </div>
</body>
</html>