body{
    box-sizing: border-box;
    margin: 0px;/*外距*/
    height: 100%;
    width: 100%;
    
}
.half{
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 50%;
}
#canvas{
    border: black 2px solid;
}
#title{
    font-size: 50px;
    text-align: center;
    margin: 0%;
    background-color: mediumpurple;
    border-radius: 10px;
}